name: daily update

on:
  workflow_dispatch:
  schedule:
    - cron: '45 * * * *'

env:
  USER_NAME: kaito01234
  USER_EMAIL: 43839796+kaito01234@users.noreply.github.com

jobs:
  checks-last-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Random decision
        id: random_decision
        run: |
          echo $RANDAM_NUMBER
          echo "result=$(($RANDAM_NUMBER % 2))" >> $GITHUB_OUTPUT
        env:
          RANDAM_NUMBER: $RANDOM

      - name: Update file
        if: steps.random_decision.outputs.result == 0
        run: |
          CURRENT_DATETIME=$(date +'%Y-%m-%d %H:%M:%S')
          echo $CURRENT_DATETIME > updatefile
        env:
          TZ: 'Asia/Tokyo'

      - name: Push file
        if: steps.random_decision.outputs.RANDAM_NUMBER == 0
        run: |
          git config --global user.name ${USER_NAME}
          git config --global user.email ${USER_EMAIL}
          git add .
          git commit -m "Update file"
          git push
